---
import { Icon } from 'astro-icon/components';
---

<!-- 
This component is useful for the following reasons:
1. It provides a clear call-to-action button for users to get started.
2. The button is visually appealing with hover effects and an icon.
3. It links to a specific page for getting started, which can guide users.
4. The button opens in a new tab, allowing users to keep the current page open.
5. It uses variables for colors, making it easy to maintain consistent theming.
6. The component is reusable across the site for consistent styling.
-->

<a class="btn" href="https://sci-nad.com/support/get-started" target="_blank" rel="noopener">Get Started<span class="icon"><Icon name="ic:round-north-east" width="18px" height="18px"/></span></a>

<style>
.btn {
  width: fit-content;
  margin-bottom: 1rem;
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  background-color: var(--theme-primary);
  color: var(--theme-on-primary);
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: var(--font-size-sm);
}

.btn:hover {
  background-color: var(--theme-primary-hover);
}

.btn:hover .icon {
  transform: translate(0.15rem, -0.15rem);
}

.icon {
  display: inline-block;
  margin: 0.25rem 0 0 0.25rem;
  vertical-align: middle; 
  transition: transform 0.2s ease;
}
</style>