---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
    title: 'About SCI-NAD',
    description: 'Learn more about SCI-NAD’s mission to advance the frontiers of neuroscience through deep-tech innovation.',
};
---

<Layout {seo}>
    <HeroSection>
        <div slot="text-container">
            <h1>About Us</h1>
            <p>
                SCI-NAD (Synaptic Computational Interface for NeuroAdvancement Design) is at the forefront of integrating neuroscience research with advanced computational tools. We're dedicated to transforming how neurotech research and education are conducted, making them more accessible, intuitive, and innovative.
            </p>
        </div>
        <picture slot="image-container">
            <img
                src="/assets/images/n.jpg"
                alt="About Us"
                id="Neuron"
            />
        </picture>
    </HeroSection>

    <TextSection narrow>
        <h2>Our Vision</h2>
        <p>
            At SCI-NAD, our vision is to make advanced neurotechnology accessible and understandable for everyone. We aim to bridge the gap between complex neurotech concepts and practical, intuitive learning experiences. To become a leading platform for deep-tech neuroscientific exploration, empowering our users with advanced tools and a collaborative community to solve challenging problems in neuroscience.
        </p>

        <h2>Our Mission</h2>
        <p>
            Empowering Through Innovation: We empower learners and researchers by providing cutting-edge tools like interactive 3D brain-electrode models and dynamic knowledge graphs. Our mission is to simplify neurotechnology and foster a deeper understanding of brain-electrode interactions.
        </p>

        <h2>Who We Are</h2>
        <p>
            Enthusiasts!
        </p>
        

        <h2>The Problem We Solve</h2>
        <p>
            Making Complexity Accessible: Understanding brain-electrode interactions is challenging. SCI-NAD addresses this by providing intuitive 3D models and integrated knowledge graphs, making complex neurotech concepts accessible and actionable.
        </p>

        <h2>Our Solution</h2>
        <p>
            "Product" - integrating all the tools available and making them better together.
        </p>
        <p>Experience interactive 3D models that bring neurotech to life and seamlessly discover and connect research papers with our integrated knowledge graphs.</p>

        <h2>Our Impact</h2>
        <p>
            Being uncoventional to get ahead: By simplifying complex concepts, SCI-NAD transforms how neurotech is taught and understood, fostering innovation and discovery in the field.
        </p>

        <p>
            Join us as we continue to explore the depths of human cognition and create a future where everyone has access to the powerful insights of neuroscience.
        </p>
    </TextSection>
</Layout>
