---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
    title: 'About SCI-NAD',
    description: 'Learn more about SCI-NAD’s mission to advance the frontiers of neuroscience through deep-tech innovation.',
};
---

<Layout {seo}>
    <HeroSection>
        <div slot="text-container">
            <h1>About SCI-NAD</h1>
            <p>
                Pushing the boundaries of what's possible in neuroscience to unlock new discoveries.
            </p>
        </div>
        
    </HeroSection>
    <TextSection narrow>
        <h2>Our Mission</h2>
        <p>
            At SCI-NAD, our mission is to push the boundaries of neurotechnology by providing an integrated platform that empowers researchers, students, and enthusiasts to explore, learn, and innovate.
        </p>
        <h2>Our Vision</h2>
        <p>
            To become a leading platform for deep-tech neuroscientific exploration, empowering our users with advanced tools and a collaborative community to solve challenging problems in neuroscience.
        </p>

        <h2>Cutting-Edge Technology</h2>
        <p>
            Our platform is equipped with advanced 3D visualization tools and real-time data analysis capabilities, enabling profound insights into the brain's intricate workings.
        </p>
        <picture>
            <img
                src="/assets/images/about/3d-brain-visualization.jpg"
                alt="3D Brain Visualization"
            />
        </picture>

        <h2>Community of Innovators</h2>
        <p>
            Join a global community of researchers and tech enthusiasts. Together, we foster a culture of innovation and breakthroughs in neurotechnology.
        </p>
        <picture>
            <img
                src="/assets/images/about/global-neurotech-community.jpg"
                alt="Global Neurotechnology Community"
            />
        </picture>
    </TextSection>
</Layout>
