---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
    title: 'About SCI-NAD',
    description: 'Learn more about SCI-NAD’s mission to advance the frontiers of neuroscience through deep-tech innovation.',
};
---

<Layout {seo}>
    <HeroSection>
        <div slot="text-container">
            <h1>About us</h1>
            <p>
                SCI-NAD (Synaptic Computational Interface for NeuroAdvancement Design) is at the forefront of integrating neuroscience research with advanced computational tools. We're dedicated to transforming how neurotech research and education are conducted, making them more accessible, intuitive, and innovative.
            </p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/n.jpg"
        alt="ABOUT US"
        id="Neuron"
      />
    </picture>
	</HeroSection>

    <TextSection narrow>
        
        <p>
            At SCI-NAD, our mission is to empower researchers, educators, and students by providing cutting-edge tools and platforms that enhance understanding of complex neural data. Founded by neurotech enthusiasts and experts, our platform leverages machine learning, data visualization, and interactive educational techniques to bridge the gap between theoretical knowledge and practical application in neuroscience.
        </p>
        <p>
            Our core features include an innovative 3D brain visualization tool, comprehensive data analysis software, and a collaborative environment that facilitates knowledge sharing and innovation. Each tool is designed to be user-centric, with a focus on improving research efficiency and educational outcomes.
        </p>
        
        <p>
            We're not just a tech company; we're a community of visionaries committed to advancing human understanding of the brain. We collaborate with leading universities, research institutions, and neurotech companies to ensure our technologies meet the rigorous demands of modern neuroscience.
        </p>

        <p>
            Our dedication to open-source and easily accessible technologies makes SCI-NAD a pivotal player in the neurotech field. Whether you're a seasoned researcher looking to streamline your workflow or a student beginning your journey in neuroscience, SCI-NAD provides the tools you need to succeed.
        </p>

        <p>
            Join us as we continue to explore the depths of human cognition and create a future where everyone has access to the powerful insights of neuroscience.
        </p>
        <h2>TL;DR</h2>
        <h3>Our Mission</h2>
            <p>
                At SCI-NAD, our mission is to push the boundaries of neurotechnology by providing an integrated platform that empowers researchers, students, and enthusiasts to explore, learn, and innovate.
            </p>
            <h3>Our Vision</h2>
            <p>
                To become a leading platform for deep-tech neuroscientific exploration, empowering our users with advanced tools and a collaborative community to solve challenging problems in neuroscience.
            </p>

       
    </TextSection>
</Layout>
