---
const { href, unelevated, outlined, customIcon, onPrimary, newTab } =
  Astro.props;

const Tag = href ? 'a' : 'button';
---

<!-- This component creates a versatile button or link element with the following functionality:

1. It accepts several props to customize its appearance and behavior:
   - href: If provided, renders an anchor tag; otherwise, renders a button.
   - unelevated: Applies a transparent background style.
   - outlined: Applies an outlined style.
   - customIcon: Allows for a custom icon to be added.
   - onPrimary: Applies styling for use on primary color backgrounds.
   - newTab: If true, opens links in a new tab.

2. It dynamically chooses between rendering an <a> tag or a <button> based on the presence of the href prop.

3. It applies CSS classes based on the provided props to style the button/link accordingly.

4. For links (when href is provided):
   - It sets the target attribute to '_blank' if newTab is true.
   - It sets the rel attribute to 'noopener noreferrer' for security when opening in a new tab.

5. It includes a slot for the main content of the button/link.

6. If customIcon is true, it provides an additional slot for inserting a custom icon.

7. The component includes styles that:
   - Set a consistent base style for the button/link.
   - Apply different styles based on the unelevated, outlined, and onPrimary props.
   - Style the custom icon if present.
   - Ensure proper styling for both anchor and button elements.
   - Provide hover effects.

This component allows for flexible use throughout an application, supporting various button styles and link functionality with a unified API. -->

<Tag
  class={`btn ${unelevated && `btn--unelevated`} ${
    outlined && `btn--outlined`
  } ${onPrimary && `btn--on-primary`}`}
  href={href}
  target={`${newTab ? '_blank': ``}`}
  rel={`${newTab ? 'noopener noreferrer' : ``}`}
>
  <slot />
  {customIcon && <span class="custom-icon__span"><slot name="icon">custom_icon</slot></span>}
</Tag>

<style>
  .btn {
    width: fit-content;
    padding: 0.36rem 0.92rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-primary);
    color: var(--theme-on-primary);
    border: none;
    border-radius: var(--theme-button-border-radius);
    font-weight: 500;
  }
  .btn:hover {
    background-color: var(--theme-primary-hover);
  }
  .btn--unelevated {
    background-color: transparent;
    color: var(--theme-on-bg);
  }
  .btn--unelevated:hover {
    background-color: transparent;
    opacity: var(--theme-primary-hover);
  }
  .btn--outlined {
    color: var(--theme-primary);
    background-color: transparent;
    border: 2px solid var(--theme-primary);
    transition: background-color var(--theme-transition);
  }
  .btn--outlined:hover {
    background-color: var(--theme-primary);
    color: var(--theme-on-primary);
  }
  .custom-icon__span {
    margin-left: 0.25rem;
    display: flex;
    align-items: center;
  }

  .custom-icon__span :global(svg) {
    width: 24px;
    height: 24px;
  }

  a.btn {
    text-decoration: none;
  }
  button.btn {
    cursor: pointer;
    outline: none;
  }
</style>
