---
import { Icon } from 'astro-icon/components';
import { Container, Button } from '@components/odyssey-theme';
import settings from '../../../config/settings.js';
---

<Container>
    <section class="hero-section__section">
        <div class="hero-section__text">
            <h1>Advanced Neurotech Made Accessible</h1>
            <p>
                Welcome to <a href="https://sci-nad.org" target="_blank" rel="noreferrer">SCI-NAD</a>, Experience neurotechnology like never before. Dive into an intuitive platform that brings the complexities of the brain to your fingertips.
            </p>
            <div class="hero-btns__container">
                <Button href="/waitlist" customIcon>
                    Join the Waitlist
                    <Fragment slot="icon">
                        <Icon name="ic:baseline-chevron-right"/>
                    </Fragment>
                </Button>
                <Button href="/coming-soon" unelevated>Watch the Demo</Button>
            </div>
        </div>
        <div class="hero-section__3d">
            <iframe 
                src='https://my.spline.design/aibrain-4d949a2b1c7f76f142dd07025bf38d03/' 
                frameborder='0' 
                style="width: 100%; height: 80vh; border: none; transform: scale(3.9); background: transparent;"
                title="Interactive 3D Brain Visualization"
                loading="eager"
                allowfullscreen
                sandbox="allow-scripts allow-same-origin"
            ></iframe>
        </div>
    </section>
</Container>

<style>
    .hero-section__section {
        position: relative;
        margin: var(--section-margin) auto;
        min-height: clamp(90vh, 100vw, calc(100vh - var(--navbar-height)));
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 1rem;
        overflow: hidden;
    }
    .hero-section__text {
        justify-self: center;
        max-width: 100rem;
        z-index: 2;
        position: relative;
    }
    .hero-btns__container {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .hero-btns__container {
        margin-right: 1rem;
    }
    .hero-section__3d {
        display: flex;
        justify-content: center;
        position: relative;
    }
    .hero-section__3d iframe {
        background: transparent;
    }
    @media (max-width: 768px) {
        .hero-section__section {
            grid-template-columns: 1fr;
        }
    }
</style>
