---
interface Props {
    title: string;
}

const { title } = Astro.props as Props;
---

<style>
    .feature-card {
        background-color: var(--theme-surface-1);
        color: var(--theme-on-surface-1);
        border-radius: var(--theme-shape-radius);
        padding: 1rem;
        height: 100%;
    }
    .feature-card__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .feature-card__title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }
    .feature-card__description {
        font-size: 1rem;
        margin-top: 0.5rem;
    }
</style>

<div class="feature-card">
    <div class="feature-card__content">
        <slot name="icon" />
        <h3 class="feature-card__title">{title}</h3>
        <p class="feature-card__description">
            <slot />
        </p>
    </div>
</div>
