---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import {
    AnnouncementBar,
    Button,
    TextCardSection,
    StickyTextImageSection,
    CtaCardSection,
} from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import TextAndImageHero from '../../components/sections/heros/TextAndImageHero.astro';

const seo = {
    title: 'Open Data Integration | SCI-NAD',
    description: 'Access and leverage a wide array of neurological data for comprehensive research and innovation.',
};
---

<Layout {seo}>
    <AnnouncementBar
        text="Explore Our Extensive Neuroscience Data Repository"
        href="/features/open-data-integration"
        slot="announcement-bar"
    />
    
    <TextAndImageHero>
        <Fragment slot="text-container">
            <h1 class="text-gradient">Open Data Integration</h1>
            <p>Seamlessly integrate and explore extensive datasets to enrich your research and applications in neuroscience.</p>
        </Fragment>
        <Fragment slot="btns-container">
            <Button href="/features/open-data-integration" customIcon>
                Discover More
                <Icon name="ic:baseline-chevron-right" slot="icon" />
            </Button>
        </Fragment>
        <Image
            slot="image-container"
            src="/assets/images/features/open-data-access.webp"
            alt="Open Data Access"
            width={600}
            height={400}
            loading="eager"
            decoding="async"
        />
    </TextAndImageHero>

    <TextCardSection>
        <h2>Data at Your Fingertips</h2>
        <p>Explore open-source datasets from DANDI, DRYAD, OSF, and more. Leverage FAIR (Findable, Accessible, Interoperable, and Reusable) data like NeuroData Without Borders (NWB) format.</p>
        <Button href="/data/insights" outlined>Learn More</Button>
    </TextCardSection>
   
    <StickyTextImageSection>
        <Fragment slot="text-container">
            <h2>Advanced Data Tools</h2>
            <p>
                Utilize powerful tools for data visualization and analysis, transforming complex data into understandable and actionable insights.
            </p>
        </Fragment>
        <Image
            slot="image-container"
            src="/assets/images/features/data-visualization-tools.webp"
            alt="Data Visualization Tools"
            width={500}
            height={300}
            loading="eager"
            decoding="async"
        />
    </StickyTextImageSection>

    <CtaCardSection
        background="var(--theme-surface-2)"
        color="var(--theme-on-surface-2)"
    >
        <h2>Join Our Data-Driven Neuroscience Community</h2>
        <p>
            Enhance your projects and research with access to our comprehensive data repository. Join now to start leveraging the full potential of open data.
        </p>
        <Button href="/community/join" customIcon>
            Get Started
            <Icon name="ic:baseline-chevron-right" slot="icon" />
        </Button>
    </CtaCardSection>
</Layout>
