---
import {
    AnnouncementBar,
    TextCardSection,
    Container,
} from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import LandingContactForm from '../../components/forms/LandingContactForm.astro';

const seo = {
    title: 'FAQ | SCI-NAD',
    description: 'Frequently Asked Questions about SCI-NAD',
};

const faqs = [
  {
    question: "What is SCI-NAD?",
    answer: "SCI-NAD is an advanced platform aimed at making neurotechnology accessible to everyone. Our goal is to simplify brain-electrode interactions and gamify neuroengineering education."
  },
  {
    question: "Who is SCI-NAD for?",
    answer: "SCI-NAD is designed for researchers, engineers, students, and enthusiasts in neuroscience and neuroengineering. Whether you're an expert or just getting started, our platform provides tools to help you learn and innovate."
  },
  {
    question: "How can I use SCI-NAD?",
    answer: "You can use SCI-NAD to build, visualize, and simulate neural networks and brain interactions in 3D, explore neural data, and test your own hypotheses through our platform's AI-driven knowledge graphs and decoding pipelines."
  },
  {
    question: "What are the key features of SCI-NAD?",
    answer: "SCI-NAD offers a 3D brain mapping tool, neural decoders, an intuitive interface for building neural montages, knowledge graphs, and AI-annotated research papers to help streamline your neuroengineering projects."
  },
  {
    question: "How can I get started?",
    answer: "Sign up for early access through our website. We offer onboarding materials, tutorials, and a step-by-step guide to help you get started with SCI-NAD."
  }
];
---

<Layout {seo}>
    <AnnouncementBar
        text="Have questions? Find answers in our FAQ!"
        href="/support/faq"
        slot="announcement-bar"
    />
    
    <Container>
        <TextCardSection id="faq-section">
            <h1>Frequently Asked Questions</h1>
            <p>Below you will find answers to the most common questions regarding our platform, mission, and features.</p>
            
            {faqs.map(faq => (
                <details>
                    <summary>{faq.question}</summary>
                    <p>{faq.answer}</p>
                </details>
            ))}

            <h2>Need further assistance?</h2>
            <p>Contact us through the form below, and our team will be happy to assist you with any other questions or inquiries.</p>

            <LandingContactForm/>
        </TextCardSection>
    </Container>
</Layout>

<style>
    details {
        margin-bottom: 1rem;
        padding: 1rem;
        background-color: var(--theme-surface-1);
        border-radius: var(--theme-shape-radius);
    }
    summary {
        font-weight: bold;
        cursor: pointer;
    }
    details p {
        margin-top: 1rem;
    }
    h1, h2 {
        font-size: var(--font-size-xl);
        margin-bottom: 1rem;
    }
    p {
        font-size: var(--font-size-md);
        margin: 0.5rem 0 1rem 0;
    }
</style>