---
import { Button, Container, TextCardSection } from '@components/odyssey-theme';
import Layout from '../layouts/Page.astro';
---

<Layout>
  <Container>
    <TextCardSection>
      <h1>Thank You!</h1>
      <p>Your message has been received. We'll get back to you soon.</p>
      <Button href="/">Return to Home</Button>
    </TextCardSection>
  </Container>
</Layout>

<script>

console.log("Contact form setup complete!");
</script>
