---
import 'dotenv/config';
import { Container, FeatureCard } from '@components/odyssey-theme';
import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
---

<Layout>
    <HomeHeroSection/>
    <Container>
        <section class="feature-card__section">
            <h2>Core Features</h2>
            <p>Discover the tools that revolutionize neuroscience research and learning.</p>
            <div class="feature-card__grid">
                <FeatureCard href="/features/1" title="Interactive Neural Simulator" imgSrc="/pf1.gif">
                    Explore and interact with 3D brain models while simulating neural activity in real-time.
                </FeatureCard>
                <FeatureCard href="/features/2" title="Gamified Neuroscience Learning" imgSrc="/ca.gif">
                    Learn complex neuroscience concepts through engaging, interactive games and challenges.
                </FeatureCard>
                <FeatureCard href="/features/3" title="Creator Hub" imgSrc="/od.gif">
                    Collaborate, share, and access a wide range of neuroscience resources and tools in one central platform.
                </FeatureCard>
            </div>
        </section>
    </Container>
</Layout>

<style>
    .feature-card__section {
        margin: 3rem auto;
        text-align: center;
    }
    .feature-card__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 2rem;
        justify-items: center;
    }
</style>
