---
// Import necessary UI components and layout
import { Container, FeatureCard } from '@components/odyssey-theme';
import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
---

<Layout>
    <HomeHeroSection/>
    <Container>
        <section class="feature-card__section">
            <h2>Core Features</h2>
            <p>
                Discover the tools that revolutionize neuroscience research and learning.
            </p>
            <div class="feature-card__grid">
                <FeatureCard href="/features/1" title="Neural Playground" imgSrc="/pf1.gif">
                    Intuitive and interactive brain mapping combined with real-time simulation of neural data.
                </FeatureCard>
                <FeatureCard href="/features/2" title="Insight Annotations" imgSrc="/ca.gif">
                    Powerful insights from complex data, enhanced by reductionist breakdown and contextual annotations.
                </FeatureCard>
                <FeatureCard href="/features/3" title="Open Data Integration" imgSrc="/od.gif">
                    Seamlessly access and apply open-source neural datasets to your research.
                </FeatureCard>
            </div>
        </section>
    </Container>
</Layout>

<style>
    .feature-card__section, .minimal-support-section {
        margin: 50px auto;
        text-align: center;
    }
    .feature-card__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        justify-items: center;
    }
    @media (max-width: 768px) {
        .feature-card__grid {
            grid-template-columns: 1fr;
        }
    }
</style>
