---
---

<div class="logo-container">
    <img src="/assets/logo_scinad.png" alt="SCI-NAD Logo" class="logo-image"/>
    <p class="logo-text">SCI-NAD</p>
</div>

<style>
    .logo-container {
        display: flex;
        align-items: center;
        gap: 10px; /* Adjust the gap as needed */
    }

    .logo-image {
        width: 50px; /* Adjust size as needed */
        height: auto;
    }

    .logo-text {
        margin: 0;
        font-family: var(--theme-font-family-serif);
        font-size: var(--font-size-md);
        color: inherit;
        text-decoration: none;
    }

    .logo-text:hover {
        text-decoration: underline;
        cursor: pointer;
    }
</style>
