---
// Your Astro component script block remains empty as no scripting is needed.
---

<div class="logo-container">
    <img src="/logo.png" alt="Neuralink?" class="logo-image" loading="lazy"/>
    <p class="logo-text">SCI-NAD</p>
</div>

<style>
    .logo-container {
        display: flex;
        align-items: center;
        gap: 10px; /* Adjust the gap as needed */
    }

    .logo-image {
        width: 50px; /* Adjust size as needed */
        height: auto;
        margin: 0; /* Removes margin if not needed */
    }

    .logo-text {
        font-family: var(--theme-font-family-serif);
        font-size: var(--font-size-md);
        color: inherit;
        text-decoration: none;
        margin: 0; /* Ensures no margin is affecting layout */
        cursor: default; /* Sets default cursor */
    }

    .logo-text:hover {
        text-decoration: underline;
        cursor: pointer; /* Only change cursor on hover */
    }
</style>
