---
import { Button, FormInput, FormSelect, FormTextarea } from '@components/odyssey-theme';

const selectOptions = [
  "NeuroTechX",
  "LinkedIn",
  "NeuroscienceNews.com",
]

---

<!-- This component creates a contact form with the following functionality:
1. Imports necessary form components from the odyssey-theme.
2. Defines a list of options for the "How Did You Hear About Us?" dropdown.
3. Renders a form with the following fields:
   - Name (text input)
   - Email (email input)
   - How Did You Hear About Us? (dropdown select)
   - Message (textarea)
4. Includes a submit button.
5. Sets the form to POST data to "/api/submit-form" on submission.
6. Applies a grid layout to the form with 1 column and 1rem gap between elements.
7. Form data is sent to a serverless function that inserts it into a Vercel Postgres database. -->

<form name="Contact Form" method="POST" action="/api/submit-form">
  <FormInput type="text" label="Name" name="Name" placeholder="First and Last Name" required />
  <FormInput type="email" label="Email" name="Email" placeholder="name@example.com" required />
  <FormSelect label="How Did You Hear About Us?" name="HowDidYouHearAboutUs" options={selectOptions} required />
  <FormTextarea label="Message" name="Message" placeholder="Your message here..." required />
  <Button type="submit">Submit</Button>
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
</style>