---
import {Icon} from 'astro-icon/components'
import { Button, FormInput } from '@components/odyssey-theme';

const selectOptions = [
  "NeuroTechX",
  "LinkedIn",
  "NeuroscienceNews.com",
]

---

<form name="LandingContactForm" method="POST" action="/api/submit-form" >
  <FormInput type="text" label="First Name" name="First Name" placeholder="Elon" />
  <FormInput type="text" label="Last Name" name="Last Name" placeholder="Musk" />
  <FormInput type="email" label="Email" name="Email" placeholder="musk@neuralink.com" />
  <Button customIcon>Submit
    <Fragment slot="icon">
      <Icon name="ic:baseline-chevron-right" />
    </Fragment>
  </Button>
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
</style>